<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="2.16.2" targetFramework="net45" />
  <package id="EF-Projectors" version="1.0.7.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="LINQKit" version="1.1.1" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="Solutionhead.EntityParser" version="2.0.1" targetFramework="net45" />
  <package id="Solutionhead.TestFoundations" version="1.0.4" targetFramework="net45" />
</packages>